
@font-face {
    font-family: Vazir;
    src: url("#{resource['css:Vazir.eot']}");
    src: url("#{resource['css:Vazir.ttf']}") format('embedded-opentype'),
        url("#{resource['css:Vazir.woff2']}") format('woff2'),
        url("#{resource['css:Vazir.woff']}") format('woff'),
        url("#{resource['css:Vazir.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}
table, p , select , label , .ui-menuitem-text,
.ui-button-text , .ui-layout-unit-header-title,.ui-dialog-title,.ui-panel-title {
    font-family: Vazir , Arial, sans-serif !important;
    font-size: .78em !important;
}
table span {
    font-family: Vazir , Arial, sans-serif;
    font-size: .81em !important;
}
.ui-corner-left{
    border-radius: 0 ;
}

.ui-toolbar.ui-widget{
    padding: 0px !important;
    overflow: hidden !important;
}
.content-no-scroll{
    overflow: hidden !important
}
.ui-panelmenu , .ui-menuitem-text,.ui-panelmenu .ui-menuitem-text {
    float: right !important;
}
 
.ui-panel .ui-panel-titlebar{
    text-align: right !important;
}
.ui-layout-unit-header, .ui-layout-unit-footer{
    text-align: right !important;
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current{
    font-size: 12px !important;
}
.ui-growl-title{
    font-family: Vazir , Arial, sans-serif;
}