
@font-face {
    font-family: Vazir;
    src: url("#{resource['css:Vazir.eot']}");
    src: url("#{resource['css:Vazir.ttf']}") format('embedded-opentype'),
        url("#{resource['css:Vazir.woff2']}") format('woff2'),
        url("#{resource['css:Vazir.woff']}") format('woff'),
        url("#{resource['css:Vazir.ttf']}") format('truetype');
    font-weight: normal;
    font-style: normal;
}
h1,h2,h3,h4,h5,h6,table,textarea, p , select , label , .ui-menuitem-text,
.ui-button-text ,strong, span , .ui-layout-unit-header-title,.ui-dialog-title,.ui-panel-title,.ui-fieldset-legend , .ui-panelgrid-cell {
    font-family: Vazir , Arial, sans-serif !important;
    /*    font-size: .8em !important;*/
}

.ui-dialog-title , .ui-panel-title{
    font-size: 14px !important;

}

input{
    font-family: Vazir , Arial, sans-serif !important;
    font-size: 14px !important;
    font-weight: bolder !important;
}
table span {
    font-family: Vazir , Arial, sans-serif;
    font-size: 15px  !important;
}
.ui-corner-left{
    border-radius: 0 ;
}

.ui-toolbar.ui-widget{
    padding: 0px !important;
    overflow: hidden !important;
}
.content-no-scroll{
    overflow: hidden !important
}
.ui-panelmenu , .ui-menuitem-text,.ui-panelmenu .ui-menuitem-text {
    float: right !important;
}

.ui-panel .ui-panel-titlebar{
    text-align: right !important;
}
.ui-layout-unit-header, .ui-layout-unit-footer{
    text-align: right !important;
}
.ui-panel-content.ui-widget-content{
    font-family: Vazir , Arial, sans-serif;
    font-size: 15px !important; 
}
.ui-paginator .ui-paginator-page, .ui-paginator .ui-paginator-pages, .ui-paginator .ui-paginator-next, .ui-paginator .ui-paginator-last, .ui-paginator .ui-paginator-first, .ui-paginator .ui-paginator-prev, .ui-paginator .ui-paginator-current{
    font-size: 12px !important;
}
.ui-growl-title , .ui-datatable-header{
    font-family: Vazir , Arial, sans-serif;
}
.ui-widget-overlay {
    opacity: .55;
    filter: Alpha(Opacity=55);
    background: transparent;
    background-color: #6ca4d4 !important;
}

.columnFull{
    width: auto;
}

.ui-inputfield {
    padding: 4px 0px !important;
}
.fullWidth{
    width: 100%;
}
.ui-clock {
    background: transparent;
    border: none;
    font-size: 12px !important;
    padding: 0px 10px !important;
    display: block;
    margin-top: 12px;
}

.ui-log{
    font-size: 12px !important;
}